<!-- about.html -->
{% extends base_template %}

{% block content %}
    <h1>About Greek Apartments</h1>
    <p>Welcome to Greek Apartments, your perfect getaway nestled near Athens, offering a tranquil retreat from the hustle and bustle of daily life. 
        Located just 300 meters from the crystal-clear waters of the Aegean Sea, we provide access to a private beach and breathtaking views. 
        Our hotel boasts 12 comfortably furnished rooms, including family-friendly options, ensuring a cozy atmosphere for guests of all ages. 
        Enjoy the luxury of our outdoor pool, where relaxation meets the beauty of Greece. Join us at Greek Apartments for a memorable stay in a family-friendly environment, 
        where every moment is a treasure. </p>
{% endblock %}