<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Greek Apartments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="{% static 'scripts/scripts.js' %}"></script>
    
    <script>
    $(document).ready(function(){
        $("#start_date, #end_date").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
    </script>

    
</head>
<body>
    <header>
        <h1>Welcome to Greek Apartments</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Home</a> | 
        <a href="{% url 'user_profile' %}">Your profile</a> | 
        <a href="{% url 'my_reservations' %}">Reservations</a> | 
        <a href="{% url 'submit_review' %}">Send review</a> | 
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    <main>

        {% block content %}

        {% endblock %}
        
    </main>

    <nav>
        <a href="{% url 'about' %}">About</a> | 
        <a href="{% url 'contact' %}">Contact</a>
    </nav>
    <footer>
        <p>&copy; 2024 Welcome to the website. All rights reserved.</p>
    </footer>
</body>
</html>
